.navbar-nav li a {
        font-weight: bolder;
        font-size: 1.5em;
} 
.navbar a{
        font-size: 2rem;
        font-weight: bolder;
}
.headerBg{
        background: yellow;
}
.titre{
        font-size: 2rem;
        font-weight: bold;
    }
.boxComp{
        border: solid black 1px;
        border-radius: 1rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        margin: 0 2rem 0 2rem;
        box-shadow: 0px 0px 5px rgb(116, 114, 114);
    }
    